# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Editable installs
pip-wheel-metadata/

# Temporal python files
__pycache__/
*.py[cod]
*$py.class


# Virtual Environments
.venv/
venv/
env/
ENV/
.env
.env.*

# Conda
.conda/
conda-meta/

# Notebooks
.ipynb_checkpoints/

# VsCode
.vscode/

# MLflow

/mlruns/