# --- Core y Manipulación de Datos ---
pandas==3.0.2
numpy==2.4.4
scipy==1.17.1
openpyxl==3.1.5

# --- Visualización de Datos ---
matplotlib==3.10.9
seaborn==0.13.2

# --- Datos Geoespaciales y Mapas ---
geopandas==1.1.3
contextily==1.7.0

# --- Configuración del Proyecto Local ---
# Instala automáticamente la carpeta src/ y config.py en modo editable
-e .

# --- Aprendizaje Automático (Machine Learning) ---
scikit-learn==1.8.0
xgboost==2.0.3