# --- Core Data Science & Analytics ---
numpy==1.26.4
pandas==2.2.2
scipy==1.12.0
openpyxl==3.1.2

# --- Geospatial ---
shapely==2.0.4
pyproj==3.6.1
fiona==1.9.6
geopandas==0.14.4
contextily==1.6.0

# --- Machine Learning---
scikit-learn==1.4.2
xgboost==2.0.3
mlflow==3.0.0        

# --- Visualization ---
matplotlib==3.8.4
seaborn==0.13.2

# --- Configuración del Proyecto Local ---
# Instala automáticamente la carpeta src/ y config.py en modo editable
-e .